/* Основний колір тексту #212121 */
/* Вторинний колір тексту #757575 */
/* Білий колір #ffffff */
/* Колір акценту #2196F3 */
/* Чорний колір #000000 на логотипі WebStudio */ 
/* Колір пошти та телефону в футері #ffffff 60% */
/* Колір фону Слогана и Футера #2F303A */

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --slogan-text-color: #FFFFFF;
    --location-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-header: #000000;
    --logo-footer: #FFFFFF;
    --secondary-background-color: #2F303A;
    --footer-text-color: #FFFFFF96;
    --btn-accent-text-color: #FFFFFF;
    --btn-filter-bcg-color: #F5F4FA;
}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    
    font-size: 14px;    
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: none;
}

/* Header */

.logo {
    color: var(--accent-color);

    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-header {
    color: var(--logo-header);
}

/* Site nav */

.site-nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link {
    color: var(--secondary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .current {
    color: var(--accent-color);
}

/* Contacts */

.contacts {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts .link {
    color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* Main */

.slogan {
    background-color: var(--secondary-background-color);
}

.slogan-title {
    color: var(--slogan-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn-order {
    background-color: var(--accent-color);
    color: var(--btn-accent-text-color);

    border-width: 0px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    letter-spacing: 0.06em;

    cursor: pointer;
}

    /* Section */

.section-title {
    color: var(--secondary-text-color);

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.hidden {
    display: none;
}

        /* Advantages */

.advantages .title {
    color: var(--secondary-text-color);

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.advantages .text {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

        /* Team */

.team {
    background-color: #F5F4FA;
}
    
.team .title {
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19; 
    text-align: center;
    letter-spacing: 0.03em;
}

.team .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

        /* Portfolio - Filter */

.btn-filter {
    background-color: var(--btn-filter-bcg-color);
    color: var(--secondary-text-color);

    font-family: inherit;    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    letter-spacing: inherit;
    letter-spacing: 0.03em;

    cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--accent-color);
    color: var(--btn-accent-text-color)
}


        /* Portfolio - Projects */

.projects .title {
    color: var(--secondary-text-color);

    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
}

.projects .type {
    color: var(--primary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/* Footer */

.footer {
    background-color: var(--secondary-background-color);
}

.logo-footer {
    color: var(--logo-footer);
}

    /* Address */

.address .link {
    color: var(--footer-text-color);

    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

.address .location {
    color: var(--location-text-color);
}

/* .address .location:hover,
.address .location:focus {
    color: var(--tertiary-text-color);
} */
